.div-form {
    margin-top:10px;
    margin-left: 50px;
    margin-right: 50px;
    
   
} 

/*.nav-link { color: #1a1a1a;}
.nav-link:hover {color:#1a1a1a;}*/

.navbar {
    background-color: #ffffff;
    box-shadow: 0 0.3px 0.5px 0 rgba(0, 0, .05);
    min-height: 100px;
}
#alert{
   margin-top: 50px;
}
.table {
    margin-top: 100px;
}
/*.card {
    margin: 20px 10px;
}*/